@model IEnumerable<Aluno>

@{
    ViewData["Title"] = "Alunos";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Aniversário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.Telefone</td>
                <td>@aluno.Email</td>
                <td>@aluno.Nascimento</td>
            </tr>
        }
    </tbody>
</table>
